<ion-view >
  <ion-content>
    <div class="bar bar-header bar-calm">
      <h1 class="title">{{aboutDetails.aboutHeading}}</h1>
    </div>
    <div class="bar bar-subheader">
      <h2 class="title">{{aboutDetails.aboutHeading1}}</h2>
    </div>
<br/><br/><br/><br/>

    <div class="list card">
      <div class="item item-image">
        <img src="{{ aboutDetails.aboutImage}}">
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        {{ aboutDetails.aboutContent}}
      </div>
    </div>



  </ion-content>


</ion-view>
