<ion-view style="background-image:url(img/c4.jpg);background-repeat:no-repeat;background-size:cover;"  ng-controller="electionCtrl">
  <ion-content>

    <div class="bar bar-header bar-calm">
      <a  class="button button-outline icon ion-navicon button-dark" ng-click="showhide()"></a>
      <h1 class="title">OUR ACHIEVEMENTS</h1>
      <a ui-sref="election" class="button icon-left ion-arrow-left-c button-clear button-dark"></a>
    </div>
    <br/><br/><br/><br/>
    <!--<div class="">
      <a  ui-sref="election"  class="button button-outline icon-center ion-navicon button-dark"></a>
    </div>
-->

    <div class="list card " ng-show="formvisible">

      <a ui-sref="action" class="item item-icon-left" style="background-color:deepskyblue;" >
        <i class="icon ion-man"></i>
        ACTION
      </a>
    </div>



    <div class="list card " ng-show="formvisible">
      <a ui-sref="products2" class="item item-icon-left" style="background-color:deepskyblue;">
        <i class="icon ion-laptop"></i>
        EVENTS
      </a>
    </div>

    <div class="list card "ng-show="formvisible">
      <a ui-sref="candidate" class="item item-icon-left" style="background-color:deepskyblue; ">
        <i class="icon ion-person"></i>
        ABOUT CANDIDATE
      </a>

    </div>
    <div class="list card " ng-show="formvisible">
      <a ui-sref="reachus" class="item item-icon-left" style="background-color:deepskyblue;" >
        <i class="icon ion-map"></i>
        REACH US
      </a>
    </div>



    <div class="list card">
      <div class="item item-image">
        <a ui-sref="achpage1" ><img src="img/ach2.jpg"></a>
      </div>
    </div>

    <div class="list card">
      <div class="item item-image">
        <a ui-sref="achpage2" ><img src="img/ach1.jpg"></a>
      </div>
    </div>


    <div class="list card">
      <div class="item item-image">
        <a ui-sref="achpage2" ><img src="img/ach1.jpg"></a>
      </div>
    </div>



    <div class="list card">
      <div class="item item-image">
        <a ui-sref="achpage3" ><img src="img/ach3.jpg"></a>
      </div>
    </div>



    <div class="list card">
      <div class="item item-image">
        <a ui-sref="achpage4" ><img src="img/ach4.jpg"></a>
      </div>
    </div>


    <div class="list card">
      <div class="item item-image">
        <a ui-sref="achpage5" ><img src="img/ach5.jpg"></a>
      </div>
    </div>


    <div class="list card">
      <div class="item item-image">
        <img src="img/ach6.jpg">
      </div>
    </div>

    <div class="list card">
      <div class="item item-image">
        <img src="img/ach7.jpg">
      </div>
    </div>

    <div class="list card">
      <div class="item item-image">
        <img src="img/ach8.jpg">
      </div>
    </div>

    <div class="list card">
      <div class="item item-image">
        <img src="img/ach9.jpg">
      </div>
    </div>
  </ion-content>

</ion-view>
