<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
    <div class="bar bar-footer bar-dark">
      <div class="title button-clear">Copyrights@Dshan Technologies</div>
    </div>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-calm">
      <h1 class="title">SHAN SURGICALS</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>

        <ion-item menu-close ui-sref="app.about">
          ABOUT US
        </ion-item>
        <ion-item menu-close ui-sref="app.products">
          OUR PRODUCTS
        </ion-item>
        <ion-item menu-close ui-sref="app.services">
          SERVICES
        </ion-item>
        <ion-item menu-close ui-sref="app.quality">
          QUALITY
        </ion-item>
        <ion-item menu-close ui-sref="app.page5">
          CONTACT US
        </ion-item>


      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
