<ion-view>
  <ion-content>

    <div class="bar bar-header bar-calm">
      <h1 class="title">PRODUCT DESCRIPTION</h1>
    </div>

    <br/><br/>

    <div class="list card">

      <div class="item item-avatar">
        <img src="img/logo.jpg">
        <h2>MACHINES</h2>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/slider2.jpg">
        <p>
          Since the incorporation of our organization, we have built a sophisticated infrastructure at our accommodation to have systematic business related activities. The infrastructure is equipped with advanced production machines and latest technologies that support us to manufacture the products in high quantities. These machines are maintained time to time by our professionals to have their smooth functioning. Apart from these, we have divided the entire unit into various departments such as:
          •	Manufacturing Department
          •	Sales Department
          •	Administrative Department
          •	Logistics
          •	R & D

        </p>
      </div>

    </div>
  </ion-content>

</ion-view>
