<ion-view view-title="Contact Us">
  <ion-content>
    <md-content class="md-padding" layout-xs="column" layout="row">
      <div flex-xs flex-gt-xs="50" layout="column">
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
          <img src="http://www.quantum-naturals.in/images/contact-us.png" class="md-card-image" alt="Washed Out"  style="height:290px;">
          <md-card-title>
            <md-card-title-media>

              <div flex-gt-sm="50" flex>

                <md-toolbar layout="row" >
                  <div class="md-toolbar-tools">
                    <span>Send Your Messages / Queries to</span>
                  </div>
                </md-toolbar>
                <br>

                <md-content>

                  <md-list>
                    <!--<md-subheader class="md-no-sticky">Classes</md-subheader>-->
                    <md-list-item class="md-2-line" >
                      <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                        <div>
                          <span class=" ion-ios-email "></span>
                          <span>infodshantechnologies@gmail.com</span>
                        </div>
                        <br>


                        <div>
                          <span class=" ion-ios-telephone "></span>
                          <span>+91 7406365983</span>
                        </div>
                        <br>
                        <div>
                          <span class="ion-ios-personadd "></span>
                          <span> # 41-42, 5th cross,
                              Magadi Road,
                              Bangalore - 560 023. INDIA</span>

                        </div>


                      </div>

                    </md-list-item>
                  </md-list>



                </md-content>
              </div>

            </md-card-title-media>
          </md-card-title>

        </md-card>
      </div></md-content>






  </ion-content>
  <div class="bar bar-footer bar-calm">
    <div class="title button-clear">Copyrights@Dshan Technologies</div>
  </div>
</ion-view>


