<ion-view  style="background-image:url(img/c4.jpg);background-repeat:no-repeat;background-size:cover ;" ng-controller="electionCtrl">
  <ion-content>

    <div class="bar bar-header bar-calm">
      <a  class="button button-outline icon ion-navicon button-dark" ng-click="showhide()"></a>
      <h1 class="title">OUR EVENTS</h1>
      <a ui-sref="election" class="button icon-left ion-arrow-left-c button-clear button-dark"></a>
    </div>
    <br/><br/><br/>
    <!--<div class="">
      <a  ui-sref="election"  class="button button-outline icon-center ion-navicon button-dark"></a>
    </div>-->
    <br/><br/>


    <div class="list card " ng-show="formvisible">

      <a ui-sref="action" class="item item-icon-left" style="background-color:deepskyblue;" >
        <i class="icon ion-man"></i>
        ACTION
      </a>
    </div>

    <div class="list card " ng-show="formvisible">
      <a ui-sref="information" class="item item-icon-left" style="background-color:deepskyblue;">
        <i class="icon ion-folder"></i>
        ACHIEVEMENTS
      </a>
    </div>



    <div class="list card "ng-show="formvisible">
      <a ui-sref="candidate" class="item item-icon-left" style="background-color:deepskyblue; ">
        <i class="icon ion-person"></i>
        ABOUT CANDIDATE
      </a>

    </div>
    <div class="list card " ng-show="formvisible">
      <a ui-sref="reachus" class="item item-icon-left" style="background-color:deepskyblue;" >
        <i class="icon ion-map"></i>
        REACH US
      </a>
    </div>




    <div class="list" style="color:black;">

      <a ui-sref="evepage1" class="item item-thumbnail-left" href="#" style="background-color:black;">
        <img src="img/eve1.jpg">
        <h2>Event1</h2>
        <p>Nine Inch Nails</p>
      </a>

      <a ui-sref="evepage2" class="item item-thumbnail-left" href="#" style="background-color:black;">
        <img src="img/eve2.jpg">
        <h2>Event2</h2>
        <p>Nine Inch Nails</p>
      </a>

      <a ui-sref="evepage3" class="item item-thumbnail-left" href="#" style="background-color:black;">
        <img src="img/eve3.jpg">
        <h2>Event3</h2>
        <p>Nine Inch Nails</p>
      </a>

      <a ui-sref="evepage4" class="item item-thumbnail-left" href="#" style="background-color:black;">
        <img src="img/eve4.jpg">
        <h2>Event4</h2>
        <p>Nine Inch Nails</p>
      </a>

      <a ui-sref="evepage5" class="item item-thumbnail-left" href="#" style="background-color:black;">
        <img src="img/eve5.jpg">
        <h2>Event5</h2>
        <p>Nine Inch Nails</p>
      </a>

      <a ui-sref="evepag1" class="item item-thumbnail-left" href="#" style="background-color:black;">
        <img src="img/eve6.jpg">
        <h2>Event6</h2>
        <p>Nine Inch Nails</p>
      </a>


      <a ui-sref="evepage2" class="item item-thumbnail-left" href="#" style="background-color:black;">
        <img src="img/eve7.jpg">
        <h2>Event7</h2>
        <p>Nine Inch Nails</p>
      </a>

      <a ui-sref="evepage3" class="item item-thumbnail-left" href="#" style="background-color:black;">
        <img src="img/eve8.jpg">
        <h2>Event8</h2>
        <p>Nine Inch Nails</p>
      </a>

    </div>
    <br/><br/>



   <!-- <div class="list card">
      <div class="item item-image">
        <a ui-sref="evepage1" ><img src="img/eve1.jpg"></a>
      </div>
    </div>

    <div class="list card">
      <div class="item item-image">
        <a ui-sref="evepage1" ><img src="img/eve2.jpg"></a>
      </div>
    </div>

    <div class="list card">
      <div class="item item-image">
        <a ui-sref="evepage1" ><img src="img/eve3.jpg"></a>
      </div>
    </div>


    <div class="list card">
      <div class="item item-image">
        <a ui-sref="evepage1" ><img src="img/eve5.jpg"></a>
      </div>
    </div>

    <div class="lst card">
      <div class="item item-image">
        <a ui-sref="evepage1" ><img src="img/eve5.jpg"></a>
      </div>
    </div>


    <div class="list card">
      <div class="item item-image">
        <img src="img/eve6.jpg">
      </div>
    </div>

    <div class="list card">
      <div class="item item-image">
        <img src="img/eve7.jpg">
      </div>
    </div>


    <div class="list card">
      <div class="item item-image">
        <img src="img/eve8.jpg">
      </div>
    </div>
-->
  </ion-content>

</ion-view>
