<ion-view>
  <ion-content>


    <div class="bar bar-header bar-calm">
      <h1 class="title">{{qualityDetails.qualityHeading}}</h1>
    </div>
<br/><br/>
    <div class="card" >
      <div class="item item-text-wrap" style="color:red;">
        {{qualityDetails.qualitySubHeading[0]}}  <br/><br/><br/>

        {{qualityDetails.qualitySubHeading[1]}}   <br/><br/><br/>

        {{qualityDetails.qualitySubHeading[2]}} <br/><br/><br/>

        {{qualityDetails.qualitySubHeading[3]}} <br/><br/><br/>

        {{qualityDetails.qualitySubHeading[4]}} <br/><br/><br/>

        {{qualityDetails.qualitySubHeading[5]}} <br/><br/><br/>

        {{qualityDetails.qualitySubHeading[6]}} <br/><br/><br/>

        {{qualityDetails.qualitySubHeading[7]}} <br/><br/><br/>

        {{qualityDetails.qualitySubHeading[8]}}<br/><br/><br/>

        {{qualityDetails.qualitySubHeading[9]}} <br/><br/><br/>

        {{qualityDetails.qualitySubHeading[10]}} <br/><br/><br/>

        {{qualityDetails.qualitySubHeading[11]}} <br/><br/><br/>


      </div>
    </div>

  </ion-content>

</ion-view>
