<ion-view style="background-image:url(img/c4.jpg);background-repeat:no-repeat;background-size:cover ;" ng-controller="electionCtrl">
  <ion-content>
    <div class="bar bar-header bar-calm">
      <h1 class="title"> CONTACT</h1>
      <a ui-sref="election" class="button icon-left ion-arrow-left-c button-clear button-dark" ng-click="showhide()"></a>
    </div>
    <br/><br/><br/>


    <div class="list card " ng-show="formvisible">

      <a ui-sref="action" class="item item-icon-left" style="background-color:deepskyblue;" >
        <i class="icon ion-man"></i>
        ACTION
      </a>
    </div>

    <div class="list card " ng-show="formvisible">
      <a ui-sref="information" class="item item-icon-left" style="background-color:deepskyblue;">
        <i class="icon ion-folder"></i>
        ACHIEVEMENTS
      </a>
    </div>

    <div class="list card " ng-show="formvisible">
      <a ui-sref="products2" class="item item-icon-left" style="background-color:deepskyblue;">
        <i class="icon ion-laptop"></i>
        EVENTS
      </a>
    </div>

    <div class="list card "ng-show="formvisible">
      <a ui-sref="candidate" class="item item-icon-left" style="background-color:deepskyblue; ">
        <i class="icon ion-person"></i>
        ABOUT CANDIDATE
      </a>
    </div>





    <div class="list card">
      <div class="item item-image">
        <a ui-sref="achpage1" ><img src="img/contact.jpg"></a>
      </div>
    </div>


    <div class="list" >

      <a class="item item-icon-left" href="#">
        <i class="icon ion-email" style="color:red;"></i>
        infodshantechnologies@gmail.com
      </a>

      <a class="item item-icon-left " href="#">
        <i class="icon ion-person" style="color:red;"></i>
        +91 7406365983
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-map" style="color:red;"></i>
        # 41-42, 5th cross,
        Magadi Road,
        Bangalore - 560 023. INDIA

      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-copy" style="color:red;"></i>
        Copyrights@Dshan Technologies
      </a>

    </div>

  </ion-content>

</ion-view>
