<ion-view>
  <ion-content>


    <div class="bar bar-header bar-calm">
      <h1 class="title">{{serviceDetails.serviceHeading}}</h1>
    </div>
    <br/><br/><br/>

    <div class="list">

      <a class="item item-thumbnail-left" ui-sref="app.page4">
        <img src="{{serviceDetails.serviceImage[0]}}">
        <h2>{{serviceDetails.serviceSubHeading[0]}}</h2>
      </a>
    </div>
    <div class="list">

      <a class="item item-thumbnail-left" ui-sref="app.page4">
        <img src="{{serviceDetails.serviceImage[1]}}">
        <h2>{{serviceDetails.serviceSubHeading[1]}}</h2>
      </a>
    </div>

    <div class="list">

      <a class="item item-thumbnail-left" ui-sref="app.page4">
        <img src="{{serviceDetails.serviceImage[2]}}">
        <h2>{{serviceDetails.serviceSubHeading[2]}}</h2>
      </a>
    </div>

    <div class="list">

      <a class="item item-thumbnail-left" ui-sref="app.page4">
        <img src="{{serviceDetails.serviceImage[3]}}">
        <h2>{{serviceDetails.serviceSubHeading[3]}}</h2>
      </a>
    </div>


    <div class="list">

      <a class="item item-thumbnail-left" ui-sref="app.page4">
        <img src="{{serviceDetails.serviceImage[4]}}">
        <h2>{{serviceDetails.serviceSubHeading[4]}}</h2>
      </a>
    </div>
  </ion-content>

</ion-view>
