/* Empty. Add your own CSS if you like */
.marginBtm{
    margin-bottom: 15px;
}


.login {
    background: url(../img/black.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80%;
    height: 246px;
    margin: auto;
    z-index: 2;
    position: relative;
}

.logo{
margin-left:80px;
}


.image {
  height: 25vw;
     width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    margin-left: auto;
    margin-right: auto;
}

.circle-pic{
    width:50px;
    height:50px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.image2 {
background-image:url("img/d.png");
     height: 25vw;
     width: 25vw;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: -webkit-center;
}

.centt{
text-align: -webkit-center;

}

.heading{
    font-size: 30px;
    text-align: center;
    margin-top: -18px;
    color:black;
    }

    .left, .hidden {
        float: left;
        height:350px;
    }

    .left {
        width: 50%;
        background: #fff;
        z-index:1;
    }

    .hidden {
        width:25%;
        z-index:2;
        position:absolute;
        left:-1000px;
        background:#f90;
        color:#000;
    }

    .right {
        width:50%;
        float: right;
        height:350px;
        background:#000;
        color:#fff;
    }

    .clear {
        clear:both;
    }


